html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 13px;
  overflow: hidden;
  min-height: 500px;
}

html, body, input {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

#map-canvas {
  height: 90%;
}

.information {
  white-space: nowrap;
  text-align: left;
  border-radius: 4px 4px 0 0;
  line-height: 40px;
  color: #fff;
  padding: 0 10px;
  font-size: 20px;
  font-weight: normal;

  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  position: relative;
  border-radius: 0 0 4px 4px;
  -webkit-transition: all 0.2s;
  -webkit-transition-timing-function: ease-in;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlOTRmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NThjZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #5e94ff 0%, #558cfb 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e94ff), color-stop(100%,#558cfb)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #5e94ff 0%,#558cfb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #53pxe94ff 0%,#558cfb 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #5e94ff 0%,#558cfb 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #5e94ff 0%,#558cfb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e94ff', endColorstr='#558cfb',GradientType=0 ); /* IE6-8 */
}

#route-info {
  z-index: 100;
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .61);
  border-radius: 5px;
  padding: 0 20px;
}




 

