* {
	margin: 0px;
}
body {
	margin: 40px;
	background-color: #C9C8C6;
	font-family: "Istok Web", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	-webkit-font-smoothing: antialiased;
 	text-rendering: optimizeLegibility;
	font-weight: 300;
	text-align: left;
  	text-rendering: optimizeLegibility;
	padding: 0;
	letter-spacing: 1.2px;
	color: #303030;
	font-size: 17px;
	line-height: 1.6em;
}

#page_container {
	width: 1000px;
	margin-left: auto;
    margin-right: auto;
    position: absolute;
}

#box-container {
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
}

#center {
	position: left;
	width: 90%;
	display: block;
	overflow: hidden;
	margin: 0 auto;

}

#right {
	float: right;
	margin-top: 32px;
}

#bio-contact {
	float: right;
}

#box {
	float: left;
	width: 250px;
	height: 183px;
	margin: 15px;
}

img {
	max-width:100%;
	max-height:100%;
	width: 250px;
	height: 183px;
}

h2 {
	font-weight: 400;
	font-size: 24px;
	font-style: normal;
	margin-top: 30px;
}

h3 {
	margin-top: 30px;
}

ul.nav-tabs {
	list-style-type: none;
	padding-left: 0px;
	line-height: 1.9em;
	font-size: 1.1em;
	font-weight: 300;
}

a:link, a:visited{
	color: #3B3B3B;
	background-color: #D6D6D6;
	text-decoration: none;
	padding: 1px;
}

a:hover {
	border-bottom: solid;
	border-color: #FF6666;
	text-decoration: none;
}

a.subURL:link, a.subURL:visited{
	background-color: #C9C8C6;
	text-decoration: none;
	padding: 1px;
}

a.subURL:hover {
	border-bottom: solid;
	border-color: #FF6666;
}

#title {
	text-align: center;
	font-size: 2.3em;
	line-height: 1.2em;
/*	margin-left: 20px;
*/}

#links {
	padding: 10px;
	font-size: .5em;
}

#hello {
	font-size: .6em;
}

mark {
	/*background-color: #FF6666;*/
	font-size: 20px;
}

.bio {
	padding: 0px 40px 10px 150px;
}

.pic {
	padding-top: 20px;
}

.imgclass {
	margin-top: 20px;
	text-align: center;
	width: 800px;
	margin: 20px auto;
}

.imgclass p {
	font-weight: 500;
}

.imgclass img{
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	height: 500px;
	width: auto;
}

p {
	font-weight: 300;
	color: #000000;
}

::selection {
	color: white;
	background:#FF6666; /* Safari */
	}
::-moz-selection {
	color: white;
	background: #FF6666; /* Firefox */
}

.thumbnails {
	list-style: none;
	width: 842px;
	height: 600px;
	position: relative;
	margin: 20px auto;
	padding: 0;
}
.thumbnails li {
	float: left;
	margin: 5px;
	position: relative;
}
.thumbnails li a,
.thumbnails li a img {
	display: block;
	position: relative;
}
.thumbnails li a {
	overflow: hidden;
}
.thumbnails li a div {
	position: absolute;
	background: rgba(255,102,102,0.7);
	width: 100%;
	height: 100%;
}
.thumbnails li a div span {
	display: block;
	padding: 10px 0;
	margin: 40px 20px 20px 20px;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(189, 195, 199,1.0);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	border-bottom: 2px solid rgba(189, 195, 199,1.0);
	box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -2px 0 rgba(189, 195, 199,1.0);*/
}

/*NoJS Css Files*/
.thumbnails li a div {
	top: 0px;
	left: -100%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.thumbnails li a:hover div{
	left: 0px;
}